* {
box-sizing: border-box;

}

.home {
border: 2px lightgreen solid;
background-color: lightgreen;
font-size: large;
padding: 10px;
}

.about {
  border: 2px lightgreen solid;
  background-color: lightgreen;
  
  font-size: large;
  padding: 10px;

}

.title {
  border: 2px lightgreen solid;
  background-color: lightgreen;
  font-size: large;
  padding: 10px;

}